* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: monospace;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000563;
    color: #f5f5f5;
    padding: 5px 10px;
    line-height: 24px;
}

nav ul {
    list-style: none;    
} 

nav ul li a {
    text-decoration: none;
    color: #f5f5f5;
    display: flex;
    align-items: center;
}

.logo, .menu ul, .menu-right ul {
    display: flex;
    align-items: center;    
    gap: 20px;
}

nav ul li a img {
    height: 30px;
    width: 30px;
    margin-right: 5px;
}

.logo a img {
    height: 40px;
    vertical-align: middle;
}

.menu-right ul li:last-child a img {
    object-fit: cover;
    object-position: center;
    margin-right: 5px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}

.menu-right ul li:last-child a {
    font-size: 10px;
}

#select {
    background-color: #f5f5f5;
    padding: 2px 8px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

#select a {
    color: #57be8e;
}

.menu-right li:first-child {
    width: 200px;
    height: 30px;
    position: relative;
}


#level {
    display: flex;
    justify-content: center;
    background-color: #87dbe5;
    height: inherit;    
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.menu-right li .loading {
    background-color: #2497a5;
    position: absolute;
    width: 3%;
    left: 0;
    top: 0;
    height: 100%;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
} 

.menu-right li:first-child a span {
    z-index: 50;
}

/* main section */

main {
    display: flex;
    width: 60%;
    margin: 0 auto;
    gap: 15px;
    margin-top: 20px;
}

.left h1, .right h1 {
    margin-bottom: 20px;
}

.left {
    flex: 3;
}

.right {
    flex: 1;
    border: 1px solid rgb(213, 211, 211);
    box-shadow: 0 3px 3px 0 rgb(213, 211, 211);
    padding: 10px 15px;
}

.right img {
    height: auto;
    width: 250px;
}

.left table {
    border-spacing: 0;
    border: 1px solid rgb(213, 211, 211);
    box-shadow: 0 3px 3px 0 rgb(213, 211, 211);    
}

thead {
    font-size: 12px;
    color: rgb(131, 131, 131);
}

tr td {
    border-bottom: 1px solid rgb(213, 211, 211);    
    padding: 15px;
}

.fa-arrow-down {
    font-size: 10px;
}

.vul-in {
    background-color: #57be8e;
    color: #f5f5f5;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    padding: 12px;
}